@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  display: inline-block;
  width: auto;
  height: 1em;
  margin-right: 0.3em;
}

h1 {
  text-align: center;
}

.container {
 display: inline-block;
 /* border: 2px solid blueviolet; */
 background-color: whitesmoke;
 border-radius: 15px;
 justify-content: space-around;
 margin: 2em;
 padding: 0 2em;
  align-items: center;
}